@model IEnumerable<TypeScript_Table.Models.Users>
@{
    ViewBag.Title = "Home Page";
}
<input type="hidden" id="serverJSON" value="@Newtonsoft.Json.JsonConvert.SerializeObject(Model)" />
<div class="page-header">
    <h2 class="text-center">Регистрация пользовтеля</h2>
</div>

<div class="row">
    <!--Регистрация пользователя-->
    <div data-bind='component:  {name: "Add-User",params: {  $root }}'>
        
    </div>
    <!--Конец регистрации пользователя-->

    <!--Таблица пользователей-->
    <div data-bind='component: {name: "Table-Users",params: {  $root }}'></div>
    <!--Конец таблицы пользователей-->

    </div>

    <!--Шаблон чтения-->
    <script type="text/html" id="readonlyTemplate">
        <tr>
            <td data-bind="text: Id"></td>
            <td data-bind="text: FirstName"></td>
            <td data-bind="text: LastName"></td>

            <td><button type="button" class="btn btn-warning btn-xs " data-bind="click: $parent.editTemplate">Редактировать</button></td>
            <td><button type="button" class="btn btn-danger btn-xs " data-bind="click: $root.UserAction.removeUsers">Удалить</button></td>
        </tr>
    </script>
    <!-- Шаблон редактирования-->
    <script type="text/html" id="editTemplate">
        <tr>
            <td data-bind="text: $data.Id"></td>
            <td>
                <input type="text" data-bind="value: $data.FirstName" class="form-control" />
            </td>
            <td>
                <input type="text" data-bind="value: $data.LastName" class="form-control" />
            </td>

            <td>
                <button type="button" class="btn btn-success glyphicon glyphicon-ok btn-sm" data-bind="click: $root.UserAction.editUser"></button>
            </td>
            <td>
                <button type="button" class="btn btn-danger glyphicon glyphicon-remove btn-sm" data-bind="click: $root.UserAction.resetTemplate"></button>
            </td>
        </tr>
    </script>

@section scripts{
<script src="~/Scripts/knockout-3.4.2.js"></script>
<script src="~/Scripts/require.js"></script>
<script src="~/Scripts/Table.js"></script>
}