@model IEnumerable<TypeScript_Table.Models.Users>
@{
    ViewBag.Title = "Home Page";
}
<input type="hidden" id="serverJSON" value="@Newtonsoft.Json.JsonConvert.SerializeObject(Model)" />
<div class="page-header">
    <h2 class="text-center">Регистрация пользовтеля</h2>
</div>

<div class="row">
    <!--Регистрация пользователя-->
    @Html.Partial("_RegisterUser")
    <!--Конец регистрации пользователя-->

    <!--Таблица пользователей-->
   @Html.Partial("_TableUser")
   <!--Конец таблицы пользователей-->

    <!--Редактирование пользователей-->
    <div class="col-md-3" data-bind="visible: TableModel.Display">
      @Html.Partial("_EditTable")
    </div>
    <!--Конец редактирование пользователей-->
</div>
<div>
    <div data-bind='component:  {
    name: "Add-User",
    params: {  User }}'></div>
</div>
@section scripts{
<script src="~/Scripts/knockout-3.4.2.js"></script>

<script src="~/Scripts/Table.js"></script>
}