@model IEnumerable<TypeScript_Table.Models.Users>
@{
    ViewBag.Title = "Home Page";
}
<div class="page-header">
    <h2 class="text-center">Регистрация пользовтеля</h2>
</div>

<div class="row">
    <!--Регистрация пользователя-->
    <div data-bind='component: "Add-User"'>

    </div>

    <!--Конец регистрации пользователя-->

    <Add-User params="value: LastName"></Add-User>
    <!--Таблица пользователей-->
    <div data-bind='component: "Table-Users"'></div>
    <!--Конец таблицы пользователей-->

</div>

@section scripts{


<script>
        require(["Table"]);
</script>
}