<div class="col-md-9" style="float:right;">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h2 class="panel-title">Список пользователй</h2>
        </div>
        <div class="panel-body">
            <table class="table table-striped table-bordered table-condensed">
                <thead>
                    <tr data-bind="click: sortTable">
                        <th data-column="Id">
                            ID
                            <span>
                                <i data-bind="attr: { class: iconType }"></i>
                            </span>
                        </th>
                        <th data-column="FirstName">
                            Имя
                            <span>
                                <i data-bind="attr: { class: iconType }"></i>
                            </span>
                        </th>
                        <th data-column="LastName">
                            Фамилия
                            <span>
                                <i data-bind="attr: { class: iconType }"></i>
                            </span>
                        </th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>

                <tbody data-bind="template: { name: currentTemplate, foreach: currentPage }">
                  
                    
               </tbody>
                <tfoot>
                    <tr>
                        <td colspan="7">
                            Отобразить на странице:
                            <select id="pageSizeSelector" data-bind="value: pageSize">
                                <option value="5">5</option>
                                <option value="10">10</option>
                                <option value="15">15</option>
                                <option value="20">20</option>
                                <option value="25">25</option>
                                <option value="30">30</option>
                            </select>
                            <span style="padding-left:20px;">
                                <button data-bind="click: previousPage($data)" class="btn btn-sm"><i class="glyphicon glyphicon-step-backward"></i></button>
                                Страница&nbsp;<label data-bind="text: currentPageIndex() + 1" class="badge"></label>
                                <button data-bind="click: nextPage($data)" class="btn btn-sm"><i class="glyphicon glyphicon-step-forward"></i></button>
                            </span>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
<script type="text/html" id="readonlyTemplate">
    <tr>
        <td data-bind="text: Id"></td>
        <td data-bind="text: FirstName"></td>
        <td data-bind="text: LastName"></td>

        <td><button type="button" class="btn btn-warning btn-xs " data-bind="click: $parent.editTemplate">Редактировать</button></td>
        <td><button type="button" class="btn btn-danger btn-xs " data-bind="click: $root.UserAction.removeUsers">Удалить</button></td>
    </tr>
</script>
<!-- Шаблон редактирования-->
<script type="text/html" id="editTemplate">
    <tr>
        <td data-bind="text: $data.Id"></td>
        <td>
            <input type="text" data-bind="value: $data.FirstName" class="form-control" />
        </td>
        <td>
            <input type="text" data-bind="value: $data.LastName" class="form-control" />
        </td>

        <td>
            <button type="button" class="btn btn-success glyphicon glyphicon-ok btn-sm" data-bind="click: $root.UserAction.editUser"></button>
        </td>
        <td>
            <button type="button" class="btn btn-danger glyphicon glyphicon-remove btn-sm" data-bind="click: $root.UserAction.resetTemplate"></button>
        </td>
    </tr>
</script>
